html {
    background-color: black;
    color: white;
    overflow: overlay;
    height: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(0,0,0,0);
}
   
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 3px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(160, 160, 160);
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
    background-color: black;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

@font-face {
    font-family: starfleetFont;
    src: url(../fonts/Federation_Starfleet_Hull_23rd.ttf) format("truetype");
}

@font-face {
    font-family: sanchezRegular;
    src: url(../fonts/Sanchezregular.otf) format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: white black;
}

#navbar {
    background-color: black;
    display: flex;
    justify-content:space-between;

    font-family: starfleetFont;

    height: 60px;
}

#topnavbar {
    z-index: 1;
}

#fullnavbar {
    z-index: 1;
}

#topnavbar ul {
    list-style: none;

    line-height: 60px;
    margin-right: 8vw;
}

#topnavbar ul li {
    display: inline-block;

    padding: 0px 20px;
}

#topnavbar ul li a {
    color: white;
    text-decoration: none;
}

#topnavbar ul li a:hover {
    color: rgb(200, 200, 200);
}

#eadeprodlogo {
    height: 45px;
    margin-top: 7px;
    margin-left: 8vw;
}

#eadeprodlogo:hover {
    filter: brightness(0.75);
}

#menuLabel {
    display: none;
    min-width: 22px;
    max-height: 18px;

    cursor: pointer;
    
    margin-top: 20px;
    margin-right: 25px;
}

#menuLabel:hover {
    opacity: .75;
}

.menuBarLine {
    height: 2px;
    width: 100%;
    margin-top: 6px;
    background-color: white;
    transition: .2s;
}

.menuBarLine#top {
    margin-top: 0px;
}

#menuicon {
    display: none;

    height: 60px;
    width: 20px;

    mix-blend-mode: difference;
    margin-right: 20px;

    image-rendering: pixelated;
    cursor: pointer;

    object-fit: scale-down;

}

#menuicon:hover {
    filter: brightness(.8);
}

#current {
    text-decoration: underline !important;
    text-underline-offset: 7px;
}

#fullnavbar {
    display: none;
    overflow: hidden;
    padding-left: 3px;
    padding-top: 70px;
}

#fullnavbar ul {
    list-style: none;
}

#fullnavbar ul li {
    padding-top: 10px;
    font-size: 19px;
    letter-spacing: 5px;
    width: 100vw;
}

#fullnavbar ul li a {
    color: white;
    text-decoration: none;

    text-align: center;

    display: block;
    line-height: 60px;
}

#fullnavbar ul li a:hover {
    color: rgb(200, 200, 200);
}

#line {
    transition: all 0s, opacity .25s;
    opacity: 0;
    display: initial;
    position:absolute;
    margin-top: 61px;
    width: 100vw;
    height: 2px;
    background-color: rgb(70, 70, 70);
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

@media (max-width: 884px) {

    #topnavbar {
        display: none;
    }

    #line.show {
        opacity: 1;
    }

    #eadeprodlogo {
        position: absolute;
        margin-left: 0px;
        width: 60px;
        margin-left: calc(50vw - 30px);
        object-fit: scale-down;
    }

    #current {
        text-decoration: underline !important;
        text-underline-offset: 15px;
    }

    #menuLabel {
        display: initial;
    }

    #menuicon {
        display: initial;
    }

    #navbar {
        transition: .25s;
        transition-timing-function: cubic-bezier(.5, 0, .5, 1);
    }

    #fullNavbarCheckbox:checked ~ #navbar {
        height: 580px;
    }

    #fullNavbarCheckbox:checked ~ #navbar > #line {
        opacity: 1;
    }

    #fullNavbarCheckbox:checked ~ #navbar > #menuLabel > #top{
        transform: translate(-5px, 8px) rotate(45deg);
        margin-left: 5px;
    }

    #fullNavbarCheckbox:checked ~ #navbar > #menuLabel > #middle{
        opacity: 0;
    }

    #fullNavbarCheckbox:checked ~ #navbar > #menuLabel > #bottom{
        transform: translate(-5px, -8px) rotate(-45deg);
        margin-left: 5px;
    }


    #fullnavbar {
        display: initial;
    }
}

#RendersAbout {
    margin-top: 40px;
    height: 500px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    
    font-family: sanchezRegular, monospace;
    font-size: 20px;
}

#RendersAbout h1 {
    font-size: min(18vw, 150px);
    font-weight: lighter;
    margin-bottom: 60px;
}

#RendersBox {
    display: flex;

    padding: 50px;

    align-items: center;
    justify-content: center;

    background-color: rgb(10, 10, 10);

    flex-wrap: wrap;
}

.Render {
    height: 350px;
    width: 350px;

    margin: 10px;

    transition: .15s;

    cursor: pointer;
    object-fit: cover;
}

.Render:hover {
    transform: scale(1.02);
}

#currentFullRender {
    background-color: rgb(0, 0, 0, 0.5);

    position:fixed;
    display: flex;
    justify-content:center;
    align-items: center;

    z-index: 1;
    opacity: 0;
    pointer-events: none;
    
    width: 100vw;
    height: 100vh;

    transition: .1s;
}

#currentFullRender #eadeloadingicon {
    border-radius: 150px;
    width: 150px;
}

#currentFullRender #renderVideo {
    width: 100vw; 
    height: 100vw; /* 100/56.25 = 1.778 */
    max-height: 100vh;
    max-width: 100vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */

    transform: scale(0.9);

    display: none;
}

#currentFullRender #render {
    width: 100vw; 
    height: 100vw; /* 100/56.25 = 1.778 */
    max-height: 100vh;
    max-width: 100vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */

    background-position: center;
    background-size: cover;

    transform: scale(0.9);

    display: flex;
    justify-content: center;
    align-items: center;
}

#currentFullRender #render #renderVideoControls {
    background-color: rgba(0, 0, 0, .25);

    width: 125px;
    height: 50px;

    transform: scale(.8);

    border-radius: 7.5px;

    position: absolute;

    text-align: center;

    top: 10px;

    display: flex;
    flex-direction: row;
}

#currentFullRender #render #renderVideoControls #videoPlayButton {
    height: 50px;
    transform: scale(.7);

    cursor: pointer;

    transition: .15s;

    margin-left: 0px;
    margin-right: 2px;
}

#currentFullRender #render #renderVideoControls #videoPlayButton:hover {
    opacity: .8;
}

#currentFullRender #render #renderVideoControls #videoSoundButton {
    height: 50px;
    transform: scale(.8);

    cursor: pointer;

    transition: .15s;

    margin-left: -5px;
    margin-right: 2px;
    
}

#currentFullRender #render #renderVideoControls #videoSoundButton:hover {
    opacity: .8;
}

#currentFullRender #render #imageCount {
    top: 0;
    right: 0;
    margin: 20px;

    position: absolute;

    font-family: sanchezRegular;
    font-size: 25px;
    letter-spacing: 3px;

    opacity: .5;
}

#currentFullRender #render #closeButton {
    position: absolute;

    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    max-height: 30px;
    margin: 15px;

    left: 0;
    top: 0;

    transition: .25s;
    opacity: .5;

    cursor: pointer;
}

#currentFullRender  #render #closeButton:hover {
    opacity: 1;
}

#currentFullRender #render #aboutButton {
    position: absolute;

    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    max-height: 30px;
    margin: 15px;
    margin-left: 55px;

    transform: scale(1.1);

    right: 0;
    bottom: 0;

    z-index: 2;
    
    transition: .25s;
    opacity: .5;

    cursor: pointer;
}

#currentFullRender  #render #aboutButton:hover {
    opacity: 1;
}

#currentFullRender  #render #aboutPanel {
    background-color: rgba(0, 0, 0, .8);

    margin-top: 90%;

    transform: scale(1.01);

    width: 100%;
    height: 10%;

    opacity: 0;
    transition: .15s;

    display: flex;

    padding: 30px;

    font-family: starfleetFont;
    font-weight:lighter;

    align-items: center;
}

#currentFullRender  #render #aboutPanel #renderNameAndDate {
    display: flex;

    align-items: center;

    width: 100%;
}

#currentFullRender  #render #aboutPanel #renderNameAndDate #renderDate {
    font-size: 25px;
    margin-left: 10px;
    color: rgb(200, 200, 200);
}

#currentFullRender  #render #aboutPanel #renderNameAndDate #renderName {
    font-size: min(7vw, 70px);
    margin-right: 10px;
}